:root {
    --dark-grey: #2a2d30;
}

body,
.kanban-column,
.bp3-datepicker {
    background-color: #121212
}

.bp3-button .bp3-icon {
    color: #899EAF
}

.rm-reference-item,
.rm-embed-container,
.kanban-card,
.kanban-board{
    background-color: var(--dark-grey);
}

.rm-bq {
    background-color: var(--dark-grey);
    border-left-color: white 
}

.rm-bullet.rm-bullet--closed .rm-bullet__inner,
.sidebar-content .rm-bullet.rm-bullet--closed .rm-bullet__inner {
    border: 4px solid #313b40;
}

.cm-content, .cm-gutter, 
.rm-code-block__settings-bar,
.bp3-input,
.rm-autocomplete__results,
.rm-find-or-create__menu,
.rm-zoom.zoom-path-view .rm-zoom-mask,
.rm-block__self .rm-block__ref-count,
.rm-inline-references,
.rm-block-ref:hover,
.bp3-button.bp3-minimal {
    background-color: var(--dark-grey);
    color: white;
}

.rm-block__self .rm-block__ref-count {
    opacity: 1;
}

.cm-focused .cm-activeLine {
    background-color:  #51565B !important
}

.roam-body .roam-app, 
.bp3-button-text,
.roam-body .roam-app h1 {
    color: white;
}

.rm-page-ref--link,
.rm-page__title,
a {
    color: #67ABE8;
}

.rm-page-ref--namespace {
    color: #4aaf38;
}

.rm-highlight{
    color: black;
    background-color: #bea925
}

.rm-highlight .rm-page-ref--link {
    color: #0C82EC;
}